<div class="main-pane shadow">
    <div>
        <img class="icon-image" src="https://picsum.photos/seed/55/40/40" alt="">
    </div>
    <div class="search-span">
        <i class="bi bi-search search-icon"></i>
    </div>
    <hr>
    <div class="span-icon">
        <i class="bi bi-shift icon-style"></i>
    </div>
    <div class="span-icon">
        <i class="bi bi-square icon-style"></i>
    </div>
    <div class="span-icon">
        <i class="bi bi-list-nested icon-style"></i>
    </div>
    <div class="span-icon">
        <i class="bi bi-dice-1 icon-style"></i>
    </div>
    <div class="span-icon">
        <i class="bi bi-list icon-style"></i>
    </div>
    <div class="span-icon">
        <i class="bi bi-code icon-style"></i>
    </div>
    <div class="help-icon">
        <i class="bi bi-question-circle-fill help-style"></i>
    </div>
</div>